body{
    background-color: #1919FF;
}
main{
    padding:10px;
    border-radius: 10px;
    background-color: #fff;
    width: 600px;
    height: fit-content;
    box-shadow: 10px 10px #B39200;
    margin: auto;
}
div{
    background-color: white;
    padding: 10px;
    margin: auto;
    box-shadow: 10px 10px #B39200;
    border-radius: 10px;
}